.container-principal{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px;
}

body{
    /*Alterando a cor de fundo*/
    background: linear-gradient(90deg, #bb8fcf, #623677 );
}

.formulario{
    /*Estilização do formulário*/
    background-color: #ffffff;
    padding: 15px;
    border-radius: 15px;
    width: 415px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
form h2{
    /*Título (Cadastre-se)*/
    text-align: center;
    margin-bottom: 16px;
    font-family: 'Geneva';
    padding: 3px;
    font-size: 35px;
    color: #76458a;
}

input[type="text"], input[type="password"], input[type="email"]{
    width: 60%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px ;
   background-color: #dfd0e6;
    font-size: 15px;
    border: 1px solid #fff;
    /*Centralizei o input na raça*/
   margin-left: 16%;
   
    
}
input[type="submit"]{
    width: 32%;
    padding: 10px;
    background-color: #76458a;
    border: none;
    border-radius: 5px;
    font-family: Tahoma;
    margin-left: 32%;
    font-size: 17px;
    cursor: pointer;
    color: #fff;
}
a{
    display: flex;
    justify-content: center;
    color: black;
    text-decoration: none;
    font-family: Times;
    font-size: 15px;
}
a:hover{
    color: #76458a;
}
input[type="submit"]:hover{
    background-color: #c1a3cf;
  
}
