
:root {
    --main-color: #3d5da1; 
    --cor-sec: #8fa5cf; 
    --corbg: #454f8a;
    --cor-menu: #000000;
    --border: 0.1rem solid rgba(255, 255, 255, 0.3);
    font-size: 10px;
    --white: #ffffff;
  }
  
  section{
    padding: 3rem 2rem;
    margin: 0 auto;
    max-width: 1200px;
  }
  *{
    margin: 0;
    padding: 0;
    outline: 0;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: 0.2s linear;
    font-family: "Roboto", sans-serif;
  }
  
  body{
    background-color: var(--cor-menu);
  }
  .menu{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
    border-bottom: var(--border);
  }
  
  .header section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
  }
  
  .logo img{
    width: 120px;
    height: auto;
    object-fit: contain;
  }
  .navbar a{
    margin: 0 1rem;
    font-size: 1.8rem;
    color: #ffffff;
  
  }
  
  .navbar a:hover{
    color: var(--corbg);
    border-bottom: 0.1rem solid var(--main-color);
    padding-bottom: 0.5rem;
    font-size: 1.3rem;
  
  }
  
  .btn{
    background: var(--cor-sec);
    color: var(--white);
    padding: 1rem 3rem;
    font-size: 1.7rem;
    cursor: pointer;
    margin-top: 1rem ;
    display:  inline-block ;
  } 
  
  .home-container{
    background: url("./imgs/fundo.png");
    height: 100vh;
    background-position: center;
    background-size: cover;
  }
  .home-container section{
    display: flex;
    align-items: center;
    min-height: 100vh;
  }
  
  .content{
    max-width: 60rem;
  }
  .content h3{
    color:var(--white);
    font-size: 6rem;
  }
  .content p{
    color: var(--white);
    font-size: 2rem;
    font-weight: 100;
    line-height: 1.8;
    padding: 1rem 0;
  }